body,h1,h2,h3 {
    font-family:Arial, Helvetica, sans-serif;
}

img{
    height:auto;
    width:30%;
}

.bg-image{
    width: inherit;
    height:1000px;
    background: url(../img/gin_bottle.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    filter:blur(8px);
    -webkit-filter:blur(8px);
}

.bg-image2 {
    width: inherit;
    height: 2000px;
    background: url(../img/plymouthgin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}


.title-text{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight:bold;
    border: 2px solid #f1f1f1;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:2;
    width:80%;
    padding:20px;
    text-align:center;
}

.results-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    position: absolute;
    top: 113%;
    left: 90%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 20%;
    padding: 10px;
    text-align: center;
}


.options {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    position: absolute;
    top: 130%;
    left: 90%;
    font-size: 18px;
    border:3px solid #ddd;
}

.pints-to-ml {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    position: absolute;
    top: 150%;
    left: 90%;
    font-size: 18px;
    border: 3px solid #ddd;
}

.shots-to-ml {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    position: absolute;
    top: 170%;
    left: 90%;
    font-size: 18px;
    border: 3px solid #ddd;
}

* {
    box-sizing: border-box;
}

#myInput {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    background-repeat: no-repeat;
    width: 70%;
    position: absolute;
    top: 120%;
    left: 15%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 3px solid #ddd;
    margin-bottom: 16px;
}

#liquorList {
    width: 40%;
    height: 60%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    list-style-type: none;
    padding: 5px;
    position: absolute;
    top: 130%;
    left: 15%;
    margin: 0;
    border: 3px solid #ddd;
}

#liquorList li a{
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: rgba(0, 0, 0, 0.4);
    padding: 13px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

#infoBox {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    position: absolute;
    top: 190%;
    left: 80%;
    font-size: 140%;
    border: 3px solid #ddd;
}
#disclaimer {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    position: absolute;
    top: 210%;
    left: 80%;
    font-size: 32px;
    border: 3px solid #ddd;
}
